way.txt

static/icons/*
static/img/*
static/pies/*
static/bars/*

gallery/templates/gallery/gallery_history.html
gallery/templates/gallery/gallery_modern.html
magicflot/templates/magicflot/about.html
magicflot/static/img/*
magicflot/static/icons/*
magicflot/static/pies/*
magicflot/static/bars/*