{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}

{% include 'gallery/parts/gallery_navigation.html' %}

<style>
	.thumb {
		display: block;
	 }

    .hide {
        display: none;
    }

    .block {
        display: block;      
      
    .modal_full{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
    	height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
    .full_img{
        width: 20em;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }     
    .close {
        color: #fff;
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
		z-index: 2;
      }
</style>


{% for artwork in artworks %}
<div class='modal_container' onclick='showModal(this);'>
    <img class='thumb' src='{% static "{{ artwork.trumb.url }}" %}'>
    <div class='modal_full hide'>
        <span class="close" onclick="closeModal(this);">&times;</span>
        
        <img class='full_img'  src='{% static "{{ artwork.img.url }}" %}'>
        <p>{{ artwork.description }}</p>
    </div>
</div>

{% endfor %}




<!-- 	<div id="carouselExampleIndicators_a" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-inner">


	    <div class="carousel-item active">
	      <img src='{% static "img/gallery/history/Семашко.jpg" %}' class="d-block w-100" alt="Легенда об острове Котлин">
		    <div class="img_caption">
		        <p>Варвара Семашко, 14 лет. Легенда об острове Котлин.
				<p>Тонированная бумага, линер. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Н.Ю. Серова.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Гиниятуллина.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Залина Гиниятуллина, 10 лет. Дальнее плавание. 
				<p>МБОУ Гимназия №3 г. Зеленодольска. Преподаватель М. В. Гималетдинова. 
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Солдатихина.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Светлана Солдатихина.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>

	    <div class="carousel-item">
	    	<div class = 'row'>
	    		<div class = 'col-md-6  pt-2'>
		      		<img src='{% static "img/gallery/history/Галимова.jpg" %}' class="d-block w-100" alt="...">
		      	</div>
		      	<div class = 'col-md-6 pt-2'>
		      		<img src='{% static "img/gallery/history/Галимова_1.jpg" %}' class="d-block w-100" alt="...">
		      	</div>
		    </div>
			<div class="carousel-caption">
		        <p>Алина Галимова, 15 лет. Ангел.
				<p>МБУ ДО "Детская художественная школа № 3 им. Б.М. Альменова" г. Казани.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Кострин.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Егор Кострин. В пучине.
      		</div>
	    </div>


	    <div class="carousel-item">
	    	<div class = 'row'>
	    		<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Заяц.jpg" %}' class="d-block w-100" alt="...">
		      		<div class="carousel-caption">
				        <p>Полина Заяц, 15 лет. Пётр 1 за штурвалом истории России.
						<p>Бумага, диатипия.
						<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
		      		</div>
		      	</div>
		      	<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Крючкова.jpg" %}' class="d-block w-100" alt="...">
		      			<div class="carousel-caption">
					        <p>Дарья Крючкова. Алые паруса.
			      		</div>
		      	</div>
		    </div>
	    </div>


	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Соколова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Екатерина Соколова. "Прибытие Петра I в Казань"
				<p>МБУ ДО "Детская художественная школа № 3 им. Б.М. Альменова" г. Казани.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Попова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Виктория Попова. Речной колесный бук.
				<p><p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Никишин.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Семён Никишин.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Зыкова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Зыкова Арина, 14 лет. Неприступный форт Кроншлот.
				<p>Бумага,сухая игла. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>


	   	<div class="carousel-item">
	    	<div class = 'row'>
	    		<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Мейер.jpg" %}' class="d-block w-100" alt="...">
		      		<div class="carousel-caption">
				        <p>Майя Мейер, 10 лет. Пётр-плотник.
						<p>Бумага, диатипия. 
						<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
		      		</div>
		      	</div>
		      	<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Малина.jpg" %}' class="d-block w-100" alt="...">
		      			<div class="carousel-caption">
					        <p>Анастасия Малина, 14 лет. Праздник Алые паруса. 
							<p>Офорт, акватинта. 
							<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
			      		</div>
		      	</div>
		    </div>
	    </div>


	   <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Шпиганович.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Полина Шпиганович, 13 лет. Строительство Кронштадта.
				<p>Бумага, акварель, линер. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Митрофанова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Алиса Митрофанова.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Гурьянова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Милана Гурьянова. Встреча.
				<p>МБУДО "Зеленодольская детская художественная школа".
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Мизун.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Элина Мизун, 12 лет. Петровская флотилия. 
				<p>Бумага, сепия.
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Е.В. Мухина.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Мошкова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Олеся Мошкова. Город Зеленодольск.
				<p>МБОУ "Лицей №1 Зеленодольского муниципального района РТ"
      		</div>
	    </div>


	   	<div class="carousel-item">
	    	<div class = 'row'>
	    		<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Ковальчук.jpg" %}' class="d-block w-100" alt="...">
		      		<div class="carousel-caption">
				        <p>Алиса Ковальчук. На всех парусах.
		      		</div>
		      	</div>
		      	<div class = 'col-md-6'>
		      		<img src='{% static "img/gallery/history/Шамсутдинова.jpg" %}' class="d-block w-100" alt="...">
		      			<div class="carousel-caption">
					        <p>Камилла Шамсутдинова. Белый парус.
			      		</div>
		      	</div>
		    </div>
	    </div>


	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Купоросова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Купоросова Анастасия. Попутного ветра.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Майорова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Виолетта Майорова. Основание Петром I  Военно-морского флота России. 
				<p><p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Иванова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Дарья Иванова, 14 лет. Строительство Кронштадта.
				<p>Тонированная бумага. сухая пастель. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Хабибуллина.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Катя Хабибуллина. Юные матросы.
				<p>МБУДО "Зеленодольская детская художественная школа".
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Ураев.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Иван Ураев, 14 лет, Строительство российского флота
				<p>Бумаг,. акварель, линер. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Шайхутдинова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-caption">
		        <p>Эмилия Шайхутдинова. В море плывут корабли.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>

	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div> -->
	


<script src='{% static "js/modal_w.js" %}'></script>
</div>


{% endblock %}