{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}

{% include 'gallery/parts/gallery_navigation.html' %}

<div class="container">
	<h2 class ='ps-2 my-4'>ИСТОРИЧЕСКИЕ КОРАБЛИ</h2>
	<hr>
	<div class='d-flex justify-content-center'>
		<a class="m-1" aria-current="page" href="#all">
	    	<h5 class="sea">Художники всех возрастов ·</h5>
	    </a>
	    <a class="m-1" aria-current="page" href="#chidren">
	    	<h5 class="sea">Работы самых юных художников ·</h5>
	    </a>
	    <a class="m-1" aria-current="page" href="#adult">
	    	<h5 class="sea">Работы художников постарше</h5>
	    </a>
	</div>
	<hr>
	<div id='all' class='mt-5'>
		<div id="carouselExampleIndicators_v" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">

		    <div class="carousel-item active">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/Ковальчук.jpg" %}' class="my-1 d-block w-100" alt="...">
					    <div class="carousel-caption d-none d-md-block">
					        <h5>Ковальчук Алиса. "На всех парусах"</h5>
			      		</div>
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/Галимова.jpg" %}' class="my-1 d-block w-100" alt="...">
					    <div class="carousel-caption d-none d-md-block">
					        <h5>Галимова Алина "Ангел" ДХШ Альменова.jpg</h5>
			      		</div>
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/Шамсутдинова.jpg" %}' class="my-1 d-block w-100" alt="...">
					    <div class="carousel-caption d-none d-md-block">
					        <h5>Шамсутдинова Камилла. Белый парус.</h5>
			      		</div>
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/Крючкова.jpg" %}' class="my-1 d-block w-100" alt="...">
					    <div class="carousel-caption d-none d-md-block">
					        <h5>Крючкова Дарья "Алые паруса"</h5>
			      		</div>
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_112808.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_112213.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/Галимова_A.jpg" %}' class="my-1 d-block w-100" alt="...">
					    <div class="carousel-caption d-none d-md-block">
					        <h5>Галимова Алина. "Ангел". ДХШ Альменова.jpg</h5>
			      		</div>
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_112119.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_112055.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_112031.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_112006.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_111950.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_111837.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_111334.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_111300.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_111239.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_111211.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_111117.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>

		    <div class="carousel-item">
		    	<div class='row'>
		    		<div class='col-md-6'>
					    <img src='{% static "img/gallery/history/vertical/IMG_20240229_111059.jpg" %}' class="my-1 d-block w-100" alt="...">
			      	</div>
			      	<div class='col-md-6'>
			      		<img src='{% static "img/gallery/history/vertical/IMG_20240229_110456.jpg" %}' class="my-1 d-block w-100" alt="...">
		      		</div>
	      		</div>
		    </div>
		    
		  </div>

		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_v" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_v" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
	</div>


	<div id='chidren' class='mt-5'>
		<h3 class='py-3'>Работы юных художников</h3>
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">

		    <div class="carousel-item active">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_110904.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_112422.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_112514.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_112722.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_112748.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113023.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113042.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113123.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113140.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113209.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113332.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113353.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113416.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_113522.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/Купоросова.jpg" %}' class="d-block w-100" alt="...">
			    <div class="carousel-caption d-none d-md-block">
			        <h5>Купоросова Анастасия. "Попутного ветра", Художественная галерея</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/Солдатихина.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Солдатихина Светлана, студия "Семицветик"</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/Хабибуллина.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Хабибуллина Катя. "Юные матросы", ЗДХШ.jpg</h5>
	      		</div>
		    </div>

		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
	</div>



	<div id='adult' class='mt-5'>
		<h3 class='py-3'>Работы художников постарше</h3>

		<div id="carouselExampleIndicators_a" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">

		    <div class="carousel-item active">
		      <img src='{% static "img/gallery/history/IMG_20240229_105915.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/IMG_20240229_110724.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/IMG_20240229_110920.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/child/IMG_20240229_112722.jpg" %}' class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Гурьянова.jpg" %}' class="d-block w-100" alt="...">
			    <div class="carousel-caption d-none d-md-block">
			        <h5>Гурьянова Милана. "Встреча". ЗДХШ</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Кострин.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Кострин Егор. "В пучине"</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Майорова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Майорова Виолетта. "Основание Петром I  Военно морского флота России". ДШИ</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Мизун.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Мизун Элина, 12 лет, Петровская флотилия, бум. сепия, пр. Мухина Е.В.СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Митрофанова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Митрофанова Алиса, студия "Семицветик"</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Мошкова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Мошкова Олеся. "Город Зеленодольск". Лицей №1</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Никишин.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Никишин Семён, студия "Семицветик"</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Попова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Попова Виктория. "Речной колесный бук" ДШИ</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Соколова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Соколова Екатерина. "Прибытие Петра I в Казань". ДХШ № 3 г.Казань</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Гиниятуллина.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Гиниятуллина Залина, 10 лет. Дальнее плавание. Преподаватель М. В. Гималетдинова. МБОУ гимназия №3 Зеленодольска</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Мазникова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Мазникова Дарья. "МПК 308 под мостом". ДШИ .jpg</h5>
	      		</div>
		    </div>
		    <div class="carousel-item">
		      <img src='{% static "img/gallery/history/Майорова.jpg" %}' class="d-block w-100" alt="...">
		      <div class="carousel-caption d-none d-md-block">
			        <h5>Майорова Виолетта. "Основание Петром I  Военно морского флота России". ДШИ</h5>
	      		</div>
		    </div>

		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
	</div>

	
</div>


{% endblock %}