{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}

{% include 'gallery/parts/gallery_navigation.html' %}

<div class="container">

	<h2 class ='white_milk ps-2 mt-4'>КОРАБЛИ XX И XXI ВЕКОВ</h2>

	<div id="carouselExampleIndicators_a" class="carousel slide" data-bs-ride="carousel">
	  <div class="carousel-inner">


	    <div class="carousel-item active">
	      <img src='{% static "img/gallery/modern/Мазникова.jpg" %}' class="d-block w-100" alt="МПК 308 под мостом.">
		    <div class="carousel-captions">
		        <p>Дарья Мазникова. МПК 308 под мостом.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Шарафиева.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
		        <p>Амелия Шарафиева 
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/фффф.jpg" %}' class="d-block w-100" alt="Мечты о будущем">
		    <div class="carousel-captions">
		        <p>Никита Терехин. Мечты о будущем.
				<p>МБУ ДО "Детская художественная школа № 3 им. Б.М. Альменова" г. Казани.
      		</div>
	    </div>


	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Трошина.jpg" %}' class="d-block w-100" alt="691">
		    <div class="carousel-captions">
		        <p>Дарья Трошина. 691.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Кардашев.jpg" %}' class="d-block w-100" alt="День ВМФ">
		    <div class="carousel-captions">
		        <p>Георгий Кардашев , 9 лет. День ВМФ. 
				<p>Бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Н.Ю. Серова.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Ураев.jpg" %}' class="d-block w-100" alt="Подводная лодка К-13. Кронштадт. Морской завод">
		    <div class="carousel-captions">
		        <p>Иван Ураев, 13 лет. Подводная лодка К-13. Кронштадт. Морской завод.
				<p>Бумага, акварель, сух.пастель. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Рахматуллина.jpg" %}' class="d-block w-100" alt="Подводная лодка">
		    <div class="carousel-captions">
		        <p>Ивелина Рахматуллина. Подводная лодка.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Кронштадтский.jpg" %}' class="d-block w-100" alt="Кронштадтский мотив">
		    <div class="carousel-captions">
		        <p>Кронштадтский мотив. Коллективная работа: Иван Горев, Дарья Иванова,  Анастасия Малина, София Суркова, Иван Ураев, 14 лет.
				<p>Монотипия.
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Халиева.jpg" %}' class="d-block w-100" alt="Несусь по волнам">
		    <div class="carousel-captions">
		        <p>Рената Халиева. Несусь по волнам.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Хайруллина.jpg" %}' class="d-block w-100" alt="Фрегат 'Гепард - 3.9'">
		    <div class="carousel-captions">
		        <p>Диана Хайруллина. Фрегат "Гепард - 3.9".
				<p>МБОУ «Лицей №14 Зеленодольского Муниципального района Республики Татарстан».
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Зарипова.jpg" %}' class="d-block w-100" alt="Малый корабль 'Зелёный Дол 602'">
		    <div class="carousel-captions">
		        <p>Кира Зарипова. Малый корабль "Зелёный Дол 602". 
				<p>МБОУ «Лицей №14 Зеленодольского Муниципального района Республики Татарстан».
      		</div>
	    </div>


	   <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Ураев.jpg" %}' class="d-block w-100" alt="Подводная лодка К-13 в доке Морского завода">
		    <div class="carousel-captions">
		        <p>Иван Ураев, 14 лет. Подводная лодка К-13 в доке Морского завода. 
				<p>Сухая игла. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Сякаева.jpg" %}' class="d-block w-100" alt="Пограничник">
		    <div class="carousel-captions">
		        <p>Сафия Сякаева. Пограничник.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Мингазов.jpg" %}' class="d-block w-100" alt="699">
		    <div class="carousel-captions">
		        <p>Тимур Мингазов. "699". 
				<p>Лицей №14
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Еремеева.jpg" %}' class="d-block w-100" alt="Встреча в порту">
		    <div class="carousel-captions">
		        <p>Любовь Еремеева. Встреча в порту.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Лысак.jpg" %}' class="d-block w-100" alt="Кронштадтский мотив">
		    <div class="carousel-captions">
		        <p>Владимир Лысак, 13 лет. Кронштадтский мотив. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Титова.jpg" %}' class="d-block w-100" alt="В добрый путь!">
		    <div class="carousel-captions">
		        <p>Дарья Титова. В добрый путь!
				<p>МБУ ДО "Зеленодольская детская художественная школа".
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Казинникова.jpg" %}' class="d-block w-100" alt="На реке Волга">
		    <div class="carousel-captions">
		        <p>Елизавета Казинникова. На реке Волга.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Ушакова.jpg" %}' class="d-block w-100" alt="В путь">
		    <div class="carousel-captions">
		        <p>Лиза Ушакова. В путь.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Смыченко.jpg" %}' class="d-block w-100" alt="Корабль Максим Горький">
		    <div class="carousel-captions">
		        <p>Софья Смыченко. Максим Горький.
				<p>МБОУ "Лицей №1 Зеленодольского муниципального района Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Иван.jpg" %}' class="d-block w-100" alt="Герой Советского Союза А.И. Маринеско">
		    <div class="carousel-captions">
		        <p>Иван Ураев, 11 лет. Герой Советского Союза А.И. Маринеско.
				<p>Бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Суховеркова.jpg" %}' class="d-block w-100" alt="Праздничный салют">
		    <div class="carousel-captions">
		        <p>Ксения Суховеркова. Праздничный салют.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Крылов.jpg" %}' class="d-block w-100" alt="Оборона Кронштадта">
		    <div class="carousel-captions">
		        <p>Макар Крылов, 14 лет. Оборона Кронштадта.
				<p>Бумага, сухая пастель.
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Калганов.jpg" %}' class="d-block w-100" alt="Парадный строй">
		    <div class="carousel-captions">
		        <p>Николай Калганов, 9 лет. Парадный строй.
				<p>Бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Н.Ю. Серова.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Попов.jpg" %}' class="d-block w-100" alt="Аврора в Кронштадте">
		    <div class="carousel-captions">
		        <p>Владислав Попов, 15 лет. Аврора в Кронштадте. 
				<p>Бумага, акварель. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Тарасова.jpg" %}' class="d-block w-100" alt="Пленэр на Морском заводе. Кронштадт">
		    <div class="carousel-captions">
		        <p>Марианна Тарасова, 14 лет. Пленэр на Морском заводе. Кронштадт. 
				<p>Тонированная бумага, чёрный и белый линеры.
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.

      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Суркова.jpg" %}' class="d-block w-100" alt="День города в Петровском парке. Кронштадт">
		    <div class="carousel-captions">
		        <p>София Суркова, 14 лет. День города в Петровском парке. 
				<p>Бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Р.Х. Ремишевская.
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Ершов.jpg" %}' class="d-block w-100" alt="День ВМФ в Кронштадте">
		    <div class="carousel-captions">
		       <p>Владислав Ершов, 8 лет. День ВМФ в Кронштадте. 
				<p>Тонированная бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Р.Х. Ремишевская.
      		</div>
	    </div>



	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Куликова.jpg" %}' class="d-block w-100" alt="Зелёный Дол 651">
		    <div class="carousel-captions">
		       <p>Асель Куликова. Зелёный Дол 651.
				<p>Лицей №14
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/history/Сиразетдинова.jpg" %}' class="d-block w-100" alt="Путешествие на корабле">
		    <div class="carousel-captions">
		        <p>Софья Сиразетдинова. Путешествие на корабле.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска
      		</div>
	    </div>
	
		<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Толстова.jpg" %}' class="d-block w-100" alt="Будущие речники">
		    <div class="carousel-captions">
		      	<p>Карина Толстова. Будущие речники.
				<p>МБУ ДО "Детская художественная школа № 3 им. Б.М. Альменова" г. Казани.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Гилманов.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
		       	<p>Карим Гилманов. Полный вперёд.
				<p>Студия "Семицветик". Художественная галерея г. Зеленодольска.
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Тарасова_1.jpg" %}' class="d-block w-100" alt="Подводная лодка К-13 в доке Морского завода. Кронштадт">
		    <div class="carousel-captions">
		 		<p>Марианна Тарасова, 13 лет. Подводная лодка К-13 в доке Морского завода. Кронштадт. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Зюзин.jpg" %}' class="d-block w-100" alt='Малый ракетный корабль "Проект 22800"'>
		    <div class="carousel-captions">
		    	<p>Кирилл Зюзин. Малый ракетный корабль "Проект 22800".
				<p>Лицей №14
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Гайсина.jpg" %}' class="d-block w-100" alt="Этапы рождения корабля">
		    <div class="carousel-captions">
		    	<p>Полина Гайсина, Софья Аль-Дмеири. Этапы рождения корабля.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Шарафутдинов.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
		    	<p>Данияр Шарафутдинов. Мой корабль.
				<p>МБОУ Гимназия №3 г. Зеленодольска.
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Худякова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
				<p>Глафира Худякова. Наше будущее под охраной.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>


	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Шишова.jpg" %}' class="d-block w-100" alt="День ВМФ">
		    <div class="carousel-captions">
				<p>Анна Шишова, 9 лет. День ВМФ.
				<p>Бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Н.Ю. Серова.
      		</div>
	    </div>
	    
	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Герасимов.jpg" %}' class="d-block w-100" alt='Малый ракетный корабль "Буян-М"'>
		    <div class="carousel-captions">
				<p>Кирилл Герасимов. Малый ракетный корабль "Буян-М"
				<p>МБОУ «Лицей №14 Зеленодольского Муниципального района Республики Татарстан»
      		</div>
	    </div>
	    
	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Тагирова.jpg" %}' class="d-block w-100" alt="Спуск на воду">
		    <div class="carousel-captions">
				<p>Самира Тагирова. Спуск на воду.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>
	    

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Бутусова.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
				<p>Полина Бутусова. А в синем море.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Гарифуллина.jpg" %}' class="d-block w-100" alt="Морской патруль">
		    <div class="carousel-captions">
				<p>Лилия Гарифуллина. Морской патруль.
      		</div>
	    </div>
	    
	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Надирова.jpg" %}' class="d-block w-100" alt="Береговая охрана на страже мирных городов">
		    <div class="carousel-captions">
				<p>София Надирова. Береговая охрана на страже мирных городов.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>
	    
	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Крылова.jpg" %}' class="d-block w-100" alt="Гавань Кронштадта">
		    <div class="carousel-captions">
				<p>Анна Крылова, 12 лет. Гавань Кронштадта. 
				<p>Тонированная бумага пастель. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель В.Б. Ремишевский.
      		</div>
	    </div>
	    
	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Самойлов.jpg" %}' class="d-block w-100" alt='Сторожевой патрульный корабль "Василий Быков"'>
		    <div class="carousel-captions">
				<p>Кирилл Самойлов. Сторожевой патрульный корабль "Василий Быков" 
				<p>МБОУ «Лицей №14 Зеленодольского Муниципального района Республики Татарстан»
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Софьина.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
				<p>Маргарита Софьина. Романовский мост.
				<p>МБУ ДО "Детская школа искусств г. Зеленодольска Республики Татарстан"
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Тураева.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
				<p>Вероника Тураева, 9 лет. День ВМФ в Кронштадте.
				<p>Тонированная бумага, фломастеры, цветные карандаши. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Н.Ю. Серова.
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Захаренко.jpg" %}' class="d-block w-100" alt="Праздничный фейерверк в День ВМФ. Кронштадт.">
		    <div class="carousel-captions">
				<p>Егор Захаренко, 11 лет. Праздничный фейерверк в День ВМФ. Кронштадт. 
				<p>Тон. бумага, гуашь. 
				<p>СПБ ГБУ ДО ДХШ им. М. К. Аникушина Кронштадтского района Санкт-Петербурга. Преподаватель Р.Х. Ремишевская.
      		</div>
	    </div>

	   	<div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Коллективная.jpg" %}' class="d-block w-100" alt="...">
		    <div class="carousel-captions">
		       <p>Коллективная работа учащихся МБУ ДО "Зеленодольская детская художественная школа".
      		</div>
	    </div>

	    <div class="carousel-item">
	      <img src='{% static "img/gallery/modern/Коллективная_1.jpg" %}' class="d-block w-100" alt="Пароход, пароход, куда хочешь отвезет">
		    <div class="carousel-captions">
				<p>Коллективная работа. Пароход, пароход, куда хочешь отвезет.
				<p>МБУ ДО "Зеленодольская детская художественная школа".
      		</div>
	    </div>


	  </div>

	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Предыдущая</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_a" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Следующая</span>
	  </button>
	</div>

</div>


{% endblock %}