{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}


<div class='px-2'>
	<div id='gallery' class ='mt-5 container'>
		
		<h1 class ='ps-4 mt-2'>ГАЛЕРЕЯ ВОЛШЕБНЫХ КОРАБЛЕЙ</h1>
		<p class='ps-4 pt-4 mb-5'>На нашей виртуальной выставке представлены работы юных художников Зеленодольска, Кронштадта и Казани.</p>

		<center>
		<div class="row">
			<a class='col-md gradient_bg_blue py-5 m-1' href='{% url "gallery:gallery_history" %}' class=''>
				<div><h3 class ='my-3'>Парусные корабли ⟶</h3></div>
			</a>
			<a class='col-md gradient_bg_blue py-5 m-1' href='{% url "gallery:gallery_modern" %}' >
				<div><h3 class ='my-3'>Современные корабли ⟶</h3></div>
			</a>
		</div>
		</center>

	</div>
</div>

{% endblock %}