#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: linear-gradient(30deg, rgba(244,220,133,255), rgba(209,221,208,255));
    border-radius: 50%;
    animation: glittering 1.5s infinite;
}
@keyframes glittering {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}