#game{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* QUESTIONS PINS */

/* TABLET & DESCTOP */
@media (min-width: 811px){
	.questions_container {
	  display: grid;
	  grid-gap: 35px;
	  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	  width: 96%;
	  margin-left: auto;
		margin-right: auto;
	}
}
/* PHONE */
@media (max-width: 810px) {
	.questions_container {
	  display: grid;
	  grid-gap: 25px;
	  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
	  width: 96%;
	  margin-left: auto;
		margin-right: auto;
	}
}

.hide_it{
	display: none;
}
.show_it{
	display: block;
}


.answer_btn{
	width: 90%;
	padding: 16px 8px;
	background: linear-gradient(30deg, rgba(34,77,81,255), rgb(147,176,158), rgba(34,77,81,255));
	border-radius: 8px;
	border: none;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.glass_score{
	background: linear-gradient(var(--blue_azure), var(--black), 0.35);

	border-radius: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 1.5em;
	height: 4.5em;
}




@keyframes slide_top_h {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-901px);
  }
}

.frame {
  display: inline-block;
  position: relative;
  text-align: center;
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.roll_h {
  position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 901px;
    background: transparent url(https://городволшебныхкораблей.рф/static/icons/a_history.png) no-repeat top center;
	background-size: 70px 901px;
  animation:  slide_top_h 2s steps(13, end) infinite both;
}


@keyframes slide_top_t {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-490px);
  }
}


.roll_t {
  position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 490px;
    background: transparent url(https://городволшебныхкораблей.рф/static/icons/a_tech.png) no-repeat top center;
	background-size: 70px 490px;
  animation:  slide_top_t 2.4s steps(7, end) infinite both;
}