{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}

<div id='gallery' class ='container'>


	<h1 class ='mt-5'>ГАЛЕРЕЯ ВОЛШЕБНЫХ КОРАБЛЕЙ</h1>
	<p class='my-5'>На нашей виртуальной выставке представлены работы юных художников Зеленодольска и Кронштадта.</p>

	<div class="row py-5">
		<div class='col-md glass mx-5'><h3>Исторические корабли</h3></div>
		<div class='col-md glass mx-5'><h3>Современные корабли</h3></div>
		<div class='col-md glass mx-5'><h3>Портреты моряков</h3></div>
	</div>

	

</div>

{% endblock %}