{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}

<section id='' class ='wrap_magic'>
	<div class='wrap_magic d-none d-md-block d-lg-block d-xl-block d-xxl-block'>
		<img class ='header_magic' src = '{% static "img/game_magic.png" %}'>
	</div>
	<div class='wrap_magic d-block d-md-none'>
		<img class ='header_magic' src = '{% static "img/vertical_1.png" %}'>
	</div>

	<center>
		<div id='game' class ='glass m-2 white_milk'>

			<center>
				<div class='d-flex justify-content-between glass_score mb-3 py-1'>
					
					<div class="d-flex justify-content-start">

						<div class='p-1'>
							<img class='icon_score' src='{% static "icons/history.png" %}'>
							<div id='score_general' class=''>-</div>
						</div>

						<div class='p-1 ms-3'>
							<img class='icon_score' src='{% static "icons/tech.png" %}'>
							<div id='score_technical' class=''>-</div>

						</div>
					</div>

					<div>
						<div class='p-1'>
							<img class='icon_score' src='{% static "icons/heart.png" %}'>
							<div id='score_heart' class=''>5</div>
						</div>
					</div>
				</div>


			<div class='my-2'>

				<div id=''>
					<div class="questions_container pt-3">
					
						<div id='questions_all'>
							{% for question in questions %}

							<img id='{{ question.id }}' class='q_pin {{ question.category.category }}' src='/static/{{ question.icon }}' onclick="showDetails(event);">
							{% endfor %}	
						</div>
					</div>


					<div id='questions'>
						{% for question in questions %}

						<div id='{{ question.id }}' class='the_question  hide_it'>
							<div id='questions_details'>
								<h5 id="{{ question.id }}" class="mb-4 mx-2">{{ question.question }}</h5>
							</div>

							<div id='add_answers'>
								<center>
								  	<button id='{{ question.value_1 }}' class='{{ question.category }} answer_btn mb-3 mx-2' onclick='checkResult(event);'>{{ question.answer_1 }}</button>
								  	<button id='{{ question.value_2 }}' class='{{ question.category }} answer_btn mb-3 mx-2' onclick='checkResult(event);'>{{ question.answer_2 }}</button>
								  	<button id='{{ question.value_3 }}' class='{{ question.category }} answer_btn mb-3 mx-2' onclick='checkResult(event);'>{{ question.answer_3 }}</button>
								  	<button id='{{ question.value_4 }}' class='{{ question.category }} answer_btn mb-3 mx-2' onclick='checkResult(event);'>{{ question.answer_4 }}</button>
								  </center>
							</div>
						</div>

						{% endfor %}
					</div>
					
				</div>

				

				<div id='result' class="mt-5 px-5">
					<div id='no' class='hide_it'>
						<h3>Не верно :( </h3>
						<p class='mt-4'>Попробуй пока ответить на другие вопросы!
						
						<center>
							<button type="button" class="btn btn-danger" onclick='playNext(event);'>Попробую ещё</button>
						</center>
					</div>

					<div id='yes' class='hide_it'>
						<h3>Отлично!</h3>
		  			<p class='mt-4'>Это верный ответ.</p>
						<center>
							<button type="button" class="btn btn-success" onclick='playNext(event);'>Дальше</button>
						</center>
					</div>

					<div id='loose' class='hide_it'>

						<div class='d-flex justify-content-between mt-2'>
							<div>
								<img class='pt-2 pe-3' src='{% static "icons/lighthouse.png" %}'>
							</div>
							<div>
								<h4>Система получила неверные ответы на 5 вопросов :(</h4>
							</div>
						</div>

						<p class='mt-2'>Нужно ещё подготовиться! Тебе поможет книга, которую можно скачать здесь:</p>

						<center>
							<button type="button" class="btn btn-success">Скачать книгу</button>
						</center>
					</div>

					<div id='win' class='hide_it'>
						<h5>Ура! Вопросы закончились!</h5>
						
						<div class='d-flex justify-content-between mt-3'>
							<div>
								<img class='pt-2 pe-3' src='{% static "icons/win.gif" %}'>
							</div>
							<div>
								<h3>Поздравляем с победой!</h3>
							</div>
						</div>
						
						<p class='mt-2'>Чтобы скачать электронный сертификат о победе, заполни, пожалуйста, форму</p>
						<center>
							<a href='https://%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B2%D0%BE%D0%BB%D1%88%D0%B5%D0%B1%D0%BD%D1%8B%D1%85%D0%BA%D0%BE%D1%80%D0%B0%D0%B1%D0%BB%D0%B5%D0%B9.%D1%80%D1%84/get_win_sert/' class="btn btn-success">Заполнить форму</a>
						</center>
					</div>
				</div>
			</div>
			</center>
		</div>
	</center>

</section>

<!-- <script src='{% static "js/score.js" %}'></script>	
<script src='{% static "js/generate_q.js" %}'></script>
<script src='{% static "js/game.js" %}'></script>
 -->

{% endblock %}