{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	a{ color:#b6d7cf; }
	.h4em {	max-height: 4em; }

	.wrap_magic_a {
	position: relative;
	overflow: hidden;
	height: 730px;
	}

	body{
	background-image: url("{% static 'img/about.png' %}");
	background-size: cover;
	background-repeat: no-repeat;
	}
	#text {
	position: relative;
	overflow-y: scroll;
	height: 100%;
	padding: 20px;
	}
</style>

<div id='stars'>
	<div class='wrap_magic_a'>

		<div id='text'>
			<div class ='white_milk container glass px-5 mb-5 pb-5'>
				<h1 class ='my-5'>О ПРОЕКТЕ</h1>

				<div class="row">
					<div class='col-md-2'>
						<img class='h4em pb-3' src='{% static "img/logos/president.png" %}'>
					</div>

					<div class='col-md-10'>
						<p class=''>Историко-патриотический проект «Город волшебных кораблей» реализован с участием школьников городов Кронштадта, Зеленодольска и Казани при поддержке <a href='https://фондкультурныхинициатив.рф/'> Президентского фонда культурных иницицатив</a>.</p>
					</div>
				</div>

				<div>
					<p>Проект направлен на привлечение детей к истории судостроения и мореходства России. Освещает яркие страницы истории и достижения судостроения России на примере заводов городов-побратимов Зеленодольска и Кронштадта, и подвигов моряков во времена Великой Отечественной войны.

					<p class='pt-3'>Информационный контент,  состоящий из сборника очерков и Веб-викторины, объединяет две истории судостроения в одну яркую страницу победоносных вех городов-побратимов.

					<p class='pt-3'>В проекте представлены творческие работы юных художников, выполненные по мотивам исторических событий морской славы России, начиная со строительства Петром Великим первых боевых кораблей и заканчивая современными мощными ракетными крейсерами и атомными подводными лодками.
				</div>

				<div class='pt-5'>
					<p>Организатор проекта: МБУ «Художественная галерея» г.Зеленодольска Республики Татарстан
					<p>Директор Т.П.Садкова
					
					<p class='pt-3'>Автор-руководитель проекта: А.Р. Ильясова-Саргин 
						
					<p class='pt-3'>Составители : Т.П. Садкова, А.Р. Ильясова-Саргин 
						
					<p class='pt-3'>Автор очерков: Т.Г. Васина
						
					<p class='pt-3'>Дизайн, компьютерная верстка: А.Р. Ильясова-Саргин, Р.Г. Сайфутдияров 
						
					<p class='pt-3'>Над созданием викторины работали:  Т.П.Садкова, А.Р.Ильясова-Саргин, А.В Жилкина. Т.Г.Васина.
					
					<p class='pt-3'>Вебразработчик: Анна Букина
				</div>

			
				<h2 class='pt-5 my-5'>Партнеры проекта</h2>

				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/kron_logo_gold.png" %}'>
					</div>
					<div><p class='ps-4 pt-3'>СПБ ГБУ ДО  «Детская художественная школа им М.К. Аникушина Кронштадского района Санкт-Петербурга</div>
				</div>

				<p>МБОУ «Лицей №1  Зеленодольского Муниципального района Республики Татарстан»
				<p>МБОУ «Лицей №14 Зеленодольского Муниципального района Республики Татарстан»
				<p>МБОУ «Гимназия № 5 Зеленодольского Муниципального района Республики Татарстан»
				<p>МБОУ «Гимназия № 3 Зеленодольского Муниципального района Республики Татарстан»
				<p>МБУ ДО «Зеленодольская Художественная школа» 
				<p>МБУ ДО «Детская школа искусств г. Зеленодольска Республики Татарстан
				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/almenova.jpg" %}'>
					</div>
					<div><p class='ps-4 pt-3'>МБУ ДО «Детская художественная школа №3 им. Б.М. Альменова» г. Казани</div>
				</div>
				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/ula.png" %}'>
					</div>
					<div><p class='ps-4 pt-3'>Детское литературное объединение "ЮЛА" г. Зеленодольска</div>
				</div>


				<p>Зеленодольское местное отделение Татарстанского регионального отделения Всероссийской политической Партии "Единая Россия»

				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/gerb_kron.png" %}'>
					</div>
					<div><p class='ps-4 pt-3'>Муниципальный совет внутригородского муниципального образования города федерального значения Санкт-Петербурга город Кронштадт
					</div>
				</div>

				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/gerb_zelenod.png" %}'>
					</div>
					<div><p class='ps-4 pt-3'>Исполнительный комитет Зеленодольского муниципального района Республики Татарстан
					</div>
				</div>

				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/kron_museum.jpg" %}'>
					</div>
					<div><p class='ps-4 pt-3'>Музей истории Кронштадта</div>
				</div>

				<p>Музей истории судостроения на Волге МБОУ «Гимназия № 3 Зеленодольского Муниципального района РТ»

				<p>Постоянное Представительство республики Татарстан в городе Санкт-Петербурге и Ленинградской области

				<div class="d-flex justify-content-start my-2">
					<div>
						<img class='h4em' src='{% static "img/logos/gorky.jpg" %}'>
					</div>
					<div><p class='ps-4 pt-3 pb-5'>МБУ "Центр культуры, искусства и народного творчества им. Горького" г.Зеленодольска
					</div>
				</div>

				<!-- 	<div class="row my-5">
					<div class='col-md-3'>
						<img class='h4em' src='{% static "img/logos/krosht_morskoy_zavod.png" %}'>
					</div>
					<div class='col-md-9'> <p class='ps-4 pt-3'>АО "Кронштадтский морской завод"</div>
				</div>

				<div class="row my-5">
					<div  class='col-md-3'>
						<img class='h4em' src='{% static "img/logos/zig.png" %}'>
					</div>
					<div  class='col-md-9'><p class='ps-4 pt-3'>АО "Зеленодольский завод им. А.И. Горького"</div>
				</div>
			 -->

			</div>
		</div>
	</div>
</div>

<script src='{% static "js/glittering.js" %}'></script> 
{% endblock %}