{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	.w22em { max-width: 22em; }
	.w18em { max-width: 18em; }
	a { color: var(--gray_blue);  }
</style>

<section id='stars'>
	<div class='container white_milk'>
		<h1 class='my-5'>НЕСКОЛЬКО СЛОВ ОТ СОЗДАТЕЛЕЙ ПРОЕКТА</h1>

		<div class='glass p-5'>
			<div class='row'>
				<div class='col-md-8'>
					<h3>Альфия Ильясова (Саргин)</h3>
					<p><strong>Руководитель проекта, художник, заслуженный деятель искусств Республики Татарстан
					</strong></p>

					<p class='pt-4'>«Город волшебных кораблей» – это две истории городов-побратимов Кронштадта и Зеленодольска (Татарстан),  объединённые  в одну яркую страницу победоносных вех  судостроения и военно-морского флота России.
					<p>Зеленодольск – город корабелов. Кронштадт – город фортов. Жителям городов-побратимов есть чем гордиться. Более 1500 кораблей и судов было построено на Зеленодольском судостроительном заводе им. А.М. Горького. Более 10000 кораблей и судов достраивались и ремонтировались на Кронштадтском Морском заводе. Эти чудо-корабли обеспечили победу во времена Великой Отечественной войны. 
				</div>
				<div class='col-md-4'>
					<img class='py-3 w18em' src='{% static "img/people/Ilyasova.png" %}'>

				</div>
			</div>
			
			<p>Многие моряки Военно-морского флота стали героями.
			<p>На проекте издан Сборник с очерками об истории судостроения и мореходства в России,   создана Галерея рисунков юных художников городов Кронштадта, Зеленодольска, Казани и Веб-викторина. Ответы на вопросы викторины можно найти <strong><a href='{% url "magicflot:blog" %}'>в нашем сборнике </a></strong>. 
			<p>Успехов и попутного ветра!
		</div>


		<div class='glass mt-5 p-5'>
			<div class='row'>
				<div class='col-md-8'>
					<h3>Римма Хамитовна Ремишевская</h3>
					<p><strong>Директор СПб ГБУ ДО "Детская художественная школа им. М.К. Аникушина Кронштадтского района Санкт-Петербурга" , член РТОО "Санкт-Петербургский союз художников«, награждена нагрудным знаком Правительства Санкт-Петербурга "За гуманизацию школы Санкт-Петербурга" и нагрудным знаком "За заслуги перед г.Кронштадтом"</strong></p>
				</div>
				<div class='col-md-4'>
					<img class='w22em py-3' src='{% static "img/people/Remishevskaya.png" %}'>
				</div>
			</div>
			<p>Уважаемые друзья!
			<p>От лица Детской художественной школы им. М.К. Аникушина, я рада поздравить всех участников проекта "Город волшебных кораблей" с финальным аккордом, а именно выхода в свет данного сборника по итогам нашего совместого проекта. 
			<p>В настоящее время развиваются и укрепляются культурные связи между Санкт-Петербургом и Татарстаном. С 1997 года города Кронштадт и Зеленодольск являются городами побратимами и поддерживают тесные социально-экономические и гуманитарные контакты. И я рада укреплению и наших культурных связей, которые способствуют сохранению исторического культурного наследия и воспитанию патриотизма. 
			<p>Подрастаяющее поколение наших городов через изобразительное искусство заново проживает историю нашей Родины, визуализируя её яркие страницы. Это и история России, история судостроения, которая тесно связана с нашими городами-побатимами, и, конечно, военно-морские подвиги Великой Отечественной войны.
			<p>Проект "Город волшебных кораблей" это неоценимый вклад на пути укрепления общенационального единства и сохранения традиций нашего Отечества. 
			<p>Детская художественная школа им. М.К. Аникушина и впредь, будет поддерживать и развивать наши культурные связи. 
			<p>Желаю всем новых творческих успехов и дальнейшего плодотворного сотрудничества в укреплении наших дружественных отношений!
		</div>



		<div class='glass mt-5 p-5'>
			<div class='row'>
				<div class='col-md-8'>
					<h3>Татьяна Петровна Садкова</h3>
					<p><strong>Директор МБУ «Художественная галерея» г.Зеленодольска Республики Татарстан, Заслуженный работник культуры Республики Татарстан</strong></p>
					<p>Уважаемые друзья! 
					<p>Образ корабля для меня – один из самых поэтичных и многоликих образов в искусстве. Только названия чего стоят? Парусная яхта, каравелла, бриг, фрегат, галеон… С помощью фантазии корабли устремляются к берегам воспоминаний, по пути встречая сады, цветущие лепестками разлуки, сказочные города и невероятные приключения. 
					<p>Так случилось, что я родилась и  живу в городе, где строят корабли. И город этот действительно волшебный под названием Зеленодольск. Наши корабли покидают город, но воспоминания о них, о тех, кто их строил и тех, кто увел в морские просторы, остаются людям. 
				</div>
				<div class='col-md-4'>
					<img class='w22em py-3' src='{% static "img/people/Sadkova.png" %}'>
				</div>
			</div>
			
			
			<p>В проекте «Город волшебных кораблей» дети знакомятся со всеми: с кораблями, с корабелами, моряками и  их славными делами и подвигами. Для этого они не только включают воображение, но многое стараются изучить понять, увидеть. Читают книги, ходят в музеи города и только тогда у них получаются интересные рисунки, которые уже были представлены на выставках, а скоро займут свое место в книге и специальном приложении. 
			<p>Вместе с детьми Зеленодольска в проекте участвуют и дети города-побратима Кронштадта – Города боевой Славы.  Город волшебных кораблей- это и про Кронштадт, порт которого стал причалом для судна под названием «Зеленодольск». Так круг замкнулся и возник большой общероссийский проект, о котором, мы надеемся, узнают в разных городах нашей необъятной Родины.
			<p>Давайте пожелаем долгого счастливого плавания нашему проекту!
		</div>

	</div>
	<br><br><br><br>
</section>

<script src='{% static "js/glittering.js" %}'></script> 

{% endblock %}