{% extends 'magicflot/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	.all_bars_container{
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		width: 96%;
	  	margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 1025px){
		.h22em { max-height: 32em; }
	}
	@media (min-width: 811px) and (max-width: 1024px){
		.h22em { max-height: 22em; }
	}

	@media (max-width: 810px){
		.h22em { max-height: 18em; }
	}
</style>

<div id='stars'></div>

<div id='content' class=''>	
	<div class='container white_milk'>
		<h1 class='my-5'>Статистика</h1>

		<div class='row'>
			<div class='col-md-6'>
				<h2 class='pb-2'>С момента cпуска на воду в викторине участвовали {{ game_sessions_count }} раз(а)</h2>
				<center><img class='h22em' src='{% static "pies/true_false_pie_chart.png" %}' alt="Pie Chart"></center>
			</div>
			<div class='col-md-6'>
				<h2 class='pb-2'>Какая категория вопросов давалась игрокам легче?</h2>
				<center><img class='h22em' src='{% static "pies/g_t_pie_chart.png" %}' alt="Pie Chart"></center>
			</div>
		</div>

		
		<h2 class='pt-5'>7 самых простых вопросов</h2>
		<p>Количество верных ответов</p>
		<center><img class='img-fluid' src='{% static "pies/most_easy_chart.png" %}' alt="Pie Chart"></center>
	
		<h2>7 самых сложных вопросов</h2>
		<p>Количество верных ответов</p>
		<center><img class='img-fluid' src='{% static "pies/most_hard_chart.png" %}' alt="Pie Chart"></center>
		

		<div class='all_bars_container'>
			{% for bar in bars %}
				<img class='h22em' src="{% static 'bars/' %}{{ bar }}" alt='{{ bar }}'>
			{% endfor %}
		</div>

	</div>
</div>


<script src='{% static "js/glittering.js" %}'></script> 

{% endblock %}



<!-- 
	{% for stat in stats %}

		<strong>{{ stat.question }}</strong>
		<p>На этот вопрос ответили {{ stat.total_answers }} раз</p>
		<p>Верных ответов: {{ stat.true_answers }}</p>

	{% endfor %}

	<img src="{{ image_path }}" alt="Pie Chart"> -->